body {
    margin-left:2%;
    margin-right:2%;
}

.headerButton {

    display:inline-block;
}

button {
    color:gray;
    background-color: yellowgreen;
    font-weight: 900;
    font-size:1rem;
    width:100%;
    display:inline-block;
    margin-bottom:0.2vh;
    display:inline-block;
}

button:hover {
    background-color:gray;
    color:yellowgreen;
}

h1, .centeredP {
    text-align:center;
}

.mighty{
    font-style: italic;
}

.starterInfo {
    color:grey;
    background-color:yellowgreen;
    padding-top:2rem;    
}

header {
    background-color:white;
    width: 100%;
    position: fixed;
    top:1px;
    font-size:0;
}

.inputLabel {
    display: inline-block;
    width:50%;
    height:1.5rem;
}

.inputField{
    background-color:transparent;
    border:none;
    display:inline-block;
    width:50%;
    height:1.5rem;
}

.inputFieldTable {
    text-align:center;
    background-color:transparent;
    border:none;
}


.inputRow:nth-of-type(2n){
    background-color:#e1f0c1;
}

.inputRow:nth-of-type(2n+1){
    background-color:#ebf5d6;
}

.calcOutput {
    margin: auto;
    width:90%;
}

table {
    border-collapse:collapse;
}

tr {
    text-align:center;
}


tr:nth-child(2n){
    background-color:#e1f0c1;
}

tr:nth-child(2n+1){
    background-color:#ebf5d6;
}

.tableHeader{
    font-weight:800;
}

.outputHeader{
    font-weight:900;
    font-size:150%;
    margin-top: 3vh;
    margin-bottom: 1vh;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    background-color:yellowgreen;
    color:gray;
}

input[type=number]{

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

footer {
  margin-top:0vh;
  position:relative;
  width:100%;
  bottom:0;
  left:0;
  height:10vh;
  background-color: pink;
  font-size:2vh;
}

.container {
    min-height:85vh;
}

.vertAlignMiddle {
    text-align:center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

